body {
    font-size: 16px;
    color: #fff;
    font-family: 'Geneva', sans-serif;
}

/* HEADER */
#header-nav {
    border-radius: 0;
    border: 0;
    border-bottom: 0.2px solid #000;
}

#logo-img {
    background: url('../images/perfil_montacargas_150.jpg') no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
}

.navbar-brand {
    top: 50%;
    left: 50%;
}

.navbar-brand h1 { /* Company name */
    font-family: 'Lora', serif;
    color: #000;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

#nav-list {
    margin-top: 10px;
}

#nav-list a {
    color: #000;
    text-align: center;
}

#nav-list a:hover {
    background-color: gray;
}
/* END HEADER */

/* HOME PAGE */
#main-content {
    background-color: #FFCD11;
}

.jumbotron {
    width: 50%;
    display: inline-block;
}
.main-text {
    width: 50%;
    display: inline;
    color: #000;
}

/* END HOME PAGE */